body {
    display: flex;
    margin: 0;
    padding: 0;
}
.header {
    border: 2px solid red;
    color: #f9faf8;
    background-color: #1f2937;
    flex-direction: row;
    flex: 1;
    padding: 30px;
    align-items: flex-end;
}