* {
    background-color: hsl(215, 28%, 17%);
}
body {
    margin: 0 150px 0 150px;
    padding: 0;
}
.header {
    font-family: 'roboto', sans-serif;
    display: flex;
    color: #f9faf8;
    flex-direction: row;
    flex: 0 1 0;
    padding: 30px;
    justify-content: space-between;
    }


a {
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    color:#E5E7EB;
}


